@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
  color: #222831;
  overflow-x: hidden;
  box-sizing: border-box;
}

.ico-anim {
  animation-iteration-count: 1;
}
.nav {
  background-color: #222831;
  color: white;
}

.tealbg {
  background-color: #00ADB5;
}

.usr {
  text-decoration-color: #00ADB5;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #007d84;
  border-radius: 20px;
  background-clip: content-box;
} 
